<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteScripter.ResponderApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteScripter.ResponderApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RemoteScripter.ResponderApp.Properties.Settings>
            <setting name="UpdatedCopyPath" serializeAs="String">
                <value>C:\Users\__username_here__\Google Drive\MSA_Deploy\RS.Responder.exe</value>
            </setting>
            <setting name="RequestsFilePath" serializeAs="String">
                <value>..\..\..\RemoteScripter.RequesterApp\bin\Debug\Requests.txt</value>
            </setting>
            <setting name="ResponsesFilePath" serializeAs="String">
                <value>..\..\..\RemoteScripter.RequesterApp\bin\Debug\Responses.txt</value>
            </setting>
            <setting name="ProcessPathToRun" serializeAs="String">
                <value>ProcessToRun.bat</value>
            </setting>
        </RemoteScripter.ResponderApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RemoteScripter.ResponderApp.Properties.Settings>
            <setting name="OnChangeDelayMS" serializeAs="String">
                <value>1000</value>
            </setting>
        </RemoteScripter.ResponderApp.Properties.Settings>
    </applicationSettings>
</configuration>